<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Reg" verbose="1">
    <groups>
        <run>
            <include name = "web"/>
        </run>
    </groups>

    <test name="Reg">
        <classes>
            <class name="tests.SmokeTest"/>
            <class name="tests.QuickTest"/>
            <class name="tests.LoginTest">

            </class>
        </classes>
    </test>
</suite>
